.nav-icon {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-icon-container {
  width: 34px;
}
.icon-svg {
  width: 34px;
}
.icon-svg>path {
  transition: 0.7s;
}