.contact-form {
    height: 100%;
    grid-row: 2 / 3;
    grid-column: 2 / 4;
}
.message-success {
    grid-row: 3 / 4;
    grid-column: 2 / 4;
    text-align: center;
}
.contact-form-input {
    display: block;
    text-align: center;
}
.contact-button {
    display: block;
    margin: 0 auto;
}