.left-nav-body {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 10%;
    height: 100%;
    background-color: rgba(47, 47, 47, 0.7);
    color: #59CAEF;
    overflow: hidden;
    transition: 0.7s;
  }
  .icon-container {
    display: flex;
    width: 40px;
    margin: 30% auto;
    /* border: black dotted 1px; */
    justify-content: center;
  }
  svg {
    cursor: pointer;
    justify-content: center;
    align-items:center;
    fill: white;
    transition: 0.7s;
  }
  svg:hover {
    fill: rgba(27, 27, 27, 0.7);
    margin-left: 10%;
  } 