.left-nav-body {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 10%;
    height: 100%;
    overflow: hidden;
    transition: 0.7s;
}
.icon-container {
  display: flex;
  width: 38px;
  margin: 30% auto;
  justify-content: center;
}
.menu-list-svg {
  cursor: pointer;
  align-items:center;
  fill: white;
  transition: 0.7s;
}