.App {
  text-align: center;
  color: blue;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
  font-size: 40px;
  text-align: center;
}
.content-frame {
  margin: 1.4% 0 1% 11%;
  height: 98%;
  right: 0;
  display: grid;
  grid-template: 2fr 2fr 2fr 2fr / 1fr 2fr 2fr 1fr;
  grid-gap: 20px;
  transition: 0.7s;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}