@font-face {
  font-family: "WaukeganLDO";
  src: local("WaukeganLDO"),
    url("../src/fonts/WaukeganLDO.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "TecnicoFino";
  src: local("TecnicoFino"),
    url("../src/fonts/TecnicoFino.ttf") format("truetype");
  font-weight: normal;
}

html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'WaukeganLDO', 'TecnicoFino', 'AssistantRegular', 'Ubuntu', 'Segoe UI', 'Roboto', 'Oxygen',
     'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a { 
  color: rgba(47, 47, 47, 0.9);
}