html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.portfolio-frame {
  margin: 5px 0 5px 11%;
  height: 98%;
  right: 0;
  background-color: rgba(195, 195, 195, 0.2);
  display: grid;
  grid-template: 2fr 2fr 2fr 2fr / 1fr 2fr 2fr 1fr;
  grid-gap: 20px;
}
a { 
  color: #59CAEF;
}