.nav-footer {
    position: absolute;
    height: 8%;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-footer>svg {
  width: 54px;
  height: 50px;
}
.nav-footer>svg>path {
  transition: 0.7s;
}